{{!-- handle error properly --}}
<div>
    <h1 style="color: green">
        Success !
    </h1>
    <h2>
        A student with id: <span style="color: blue">{{id}} </span>deleted!
    </h2>
    <p>
        <a href="http://localhost:5000/api/v1/students">Go to students list</a>
    </p>
</div>