<div>
    <h1>Welcome to Students API</h1>
    <a href="http://localhost:5000/api/v1/students">Click here to see all students</a>
    <br>
    <br>
    <p><strong>Note: </strong>Since we are not using real database. Data might not be persistent!</p>
</div>