{{!-- handle error properly --}}

<h2>Fill out details for student and submit</h2>
<form action="new" method="post">
    <input type="text" name="name" placeholder="Name" >
    <input type="number" name="age" placeholder="Age">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="profileImg" placeholder="Image Url">
    <button type='submit'>Submit</button>
</form>
<br>
<a href="http://localhost:5000/api/v1/students">Cancel</a>